.main-bg {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231c0000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23370000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23530000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%236e0000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%238A0000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    /*SOBRE AVISO*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-bg-3x3 {
    background-color: #000000;
    background-image: url("../img/back-3x3-test.svg");
    background-attachment: fixed;
    /*SOBRE AVISO*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-bg-5x5 {
    background-color: #000000;
    background-image: url(../img/foto-teste-bg-5x5.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    /*SOBRE AVISO*/
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
    /*SOBRE AVISO*/
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu h1 a {
    font-size: 2.3rem;
    color: var(--white-color);
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.hide-h2 {
    display: none;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--red-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

.logo {
    width: 8rem;
}

.menu-space {
    height: 12.0172rem;
}

.intro-content {
    padding-top: 10rem;
    top: -12.0172rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.intro-text-content h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.intro-img img {
    max-width: 80%;
    height: auto;
}

.categorias-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.equipes-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
}

.equipes-adulto-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.title-h2 h2 {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.title-main {
    margin-bottom: 1rem;
}

.title-main-apoiadores {
    margin-bottom: 10rem;
}

.grid-equipe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.grid-equipe h3 {
    font-size: 2.5rem;
    position: relative;
}

.foto-equipe {
    width: 20rem;
    border-radius: 50%;
}

.foto-logos {
    width: 10rem;
    margin: 0 2rem;
    transition: all 300ms ease-in-out;
}

.foto-logos:hover {
    width: 10.1rem;
}

.grid-apoiadores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.grid-apoiadores h3 {
    font-size: 2rem;
    position: relative;
}

.grid-adulto {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.grid-adulto p {
    font-size: rem;
}

.sobre-content {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.apoiadores-content {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    justify-content: center;
    text-align: center;
    min-height: 10vh;
}

.apoiadores-content h3 {
    font-size: 1.5rem;
}

.apoiadores-content h2 {
    font-size: 3rem;
}

.classificacao-content {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.menu-ranking {
    display: fixed;
    background: var(--red-color);
    width: 100%;
    z-index: 1;
}

.menu-ranking-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-ranking-content button {
    background: none;
    border: none;
}

.ranking-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-title h5 {
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.menu-ranking-content h5 {
    display: block;
}

.menu-ranking-content ul {
    list-style: none;
    display: flex;
}

.menu-ranking-content ul li a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: var(--white-color);
    position: relative;
    text-transform: uppercase;
}

.menu-ranking-content ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: var(--white-color);
    transition: all 300ms ease-in-out;
}

.menu-ranking-content ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.grid-description {
    padding-bottom: 8rem;
}

.grid-categorias, .grid-modalidade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.categoria-img {
    width: 100%;
    max-width: 48rem;
    max-height: 48rem;
    overflow: hidden;
}

.categoria-img img {
    transition: all 300ms ease-in-out;
}

.categoria-img img:hover {
    transform: scale(1.1);
}

.contato-form {
    grid-column: span 2;
}

.contato-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 1.0rem 0.2rem var(--white-color);
    transition: 250ms;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--white-color);
    background: var(--white-color);
    color: var(--red-color);
}

.form-group ::placeholder {
    color: var(--primary-color);
    opacity: 25%;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.intro-img2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.intro-img2 img {
    max-width: 50%;
    height: auto;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer p {
    margin: 0;
}

.direitos-content {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.4rem;
}

.developer {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.developer a {
    transition: all 300ms ease-in-out;
    color: var(--red-color);
    text-decoration: none;
}

.developer a:hover {
    text-decoration: underline;
}

.close-menu {
    display: none;
}

#back-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--red-color);
    font-size: 3rem;
    border: 0.1rem solid var(--red-color);
}

.borda-redonda {
    width: 15rem;
    border-radius: 30%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    margin-bottom: 1.5rem;
}

.borda-redonda:hover {
    width: 16rem;
}

.borda-redonda-news {
    width: 10rem;
    border-radius: 30%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    margin-bottom: 1.5rem;
}

.grid-apoiadores .font-news {
    font-size: 1rem;
}

.cadastro3x3-content legend {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.cadastro3x3-content a {
    color: var(--white-color);
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.cadastro3x3-content a:hover {
    color: var(--white-color);
    font-size: 5.2rem;
}

.cadastro3x3-content img {
    max-width: 25rem;
}

.categorias-content legend {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.menu-5x5-equipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 0;
}

.menu-5x5-equipes h2 {
    font-size: 3.2rem;
}

.botoes button {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.8rem;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0 5rem;
    transition: all 300ms ease-in-out;
}

.botoes button:hover {
    color: var(--red-color);
}


.div-escolas {
    display: none;
}

.grid-escola {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap);
    font-size: 1rem;
}

.subtitle-ranking {
    font-size: 1.5rem;
    font-style: italic;
}

.partidas-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partidas-content table tr td {
    padding: 0 3em;
}

.position {
    font-style: italic;
}

.position h6 {
    font-size: 2rem;
}

.table-ranking {
    width: 100%;
    height: 70rem;
    border: none;
}

#div-classificacao, #div-news {
    display: none;
}

.news-menu-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    color: white;
    background: grey;
    padding: 0.5rem 3rem;
}

.news-menu-title h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0rem 2rem;
}

.news-space {
    margin-top: 5.5rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider ul {
    list-style: none;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-news {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-news p {
    text-align: center;
    width: 75rem;
}

/*------------------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.first {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.autor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autor p {
    color: #717171;
    font-size: 1.2rem;
    font-style: italic;
}

@media (max-width: 1000px) {
    .news-space {
        margin-top: 0rem;
    }

    .news-menu-title {
        padding: 2rem 3rem;
    }

    .foto-logos {
        margin: 0;
        width: 8rem;
        transition: all 300ms ease-in-out;
    }

    .foto-logos:hover {
        width: 8.1rem;
    }

    .grid-adulto {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--gap);
        font-size: 1rem;
    }

    .grid-escola {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);
        font-size: 1rem;
    }

    .title-h2 h2 {
        font-size: 3rem;
    }

    .cadastro3x3-content h2 {
        font-size: 2.1rem;
    }

    .cadastro3x3-content p {
        font-size: 1.8rem;
    }

    .grid-equipe, .grid-categorias {
        grid-template-columns: 2fr;
    }

    .categoria-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .categoria-img img {
        width: 100%;
    }

    .equipes-content {
        display: block;
        height: auto;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--red-color);
        font-size: 4rem;
        line-height: 4rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-space {
        display: none;
    }

    .grid-equipe {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*IPHONE XR*/
@media (max-width: 500px) {

    .intro-content {
        display: block;
        text-align: center;
    }

    .intro-text-content .show-h2 {
        display: block;
        font-size: 2rem;
    }

    .intro-text-content .show-h1 {
        display: block;
        font-size: 5rem;
    }

    .intro-content .intro-img, .intro-content .intro-text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .intro-content h2 {
        display: none;
    }

    .show-p {
        display: none;
    }

    .intro-img {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .hide-h2 {
        display: block;
        text-transform: uppercase;
    }

    .hide-h2 h4 {
        font-size: 4rem;
        margin-bottom: 5rem;
    }

    .hide-h2 p {
        font-size: 1.5rem;
    }

    .equipes-content p {
        font-size: 1.5rem;
    }

    .equipes-content h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .sobre-content h2 {
        font-size: 3rem;
    }

    .sobre-content p {
        font-size: 1.5rem;
    }

    .categorias-content h2 {
        font-size: 3rem;
    }

    .intro-text-content h2 {
        font-size: 1rem;
    }

    .intro-text-content h1 {
        font-size: 2rem;
    }

    .intro-text-content p {
        font-size: 1rem;
    }

    .menu-5x5-equipes h2 {
        font-size: 2rem;
    }

    .botoes button {
        font-size: 1.2rem;
    }

    .grid-apoiadores {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-apoiadores img {
        width: 7rem;
    }

    .grid-apoiadores img:hover {
        width: 7.1rem;
    }

    .grid-apoiadores h3 {
        font-size: 0.8rem;
    }

    .apoiadores-content h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .grid-adulto {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);
        font-size: 1rem;
    }

    .grid-escola {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);
        font-size: 1rem;
    }

    .foto-logos {
        display: block;
        width: 7rem;
        transition: all 300ms ease-in-out;
    }

    .equipes-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-equipe {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-equipe h3 {
        font-size: 1.5rem;
    }

    .grid-equipe p {
        font-size: 1rem;
    }

    .foto-equipe {
        width: 13rem;
    }

    .foto-logos:hover {
        display: block;
        width: 7.1rem;
    }

    .title-h2 h2 {
        font-size: 2rem;
    }

    .cadastro3x3-content h2 {
        font-size: 1.6rem;
    }

    .cadastro3x3-content h3 {
        font-size: 2.9rem;
    }

    .ranking-title h5 {
        font-size: 3rem;
    }
}

/*IPHONE SE*/
@media (max-width: 376px) {
    .intro-text-content .show-h2 {
        font-size: 1.5rem;
    }

    .intro-text-content .show-h1 {
        font-size: 3rem;
    }

    .intro-content .intro-img, .intro-content .intro-text-content {
        margin-top: 0%;
    }

    .cadastro3x3-content h2 {
        font-size: 1.5rem;
    }

    .grid-apoiadores img {
        width: 6rem;
    }

    .grid-apoiadores h3 {
        font-size: 0.8rem;
    }

    .ranking-title h5 {
        font-size: 2rem;
    }

    .menu-ranking-content ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 280px) {
    .title-h2 h2 {
        font-size: 1.5rem;
    }

    .grid-adulto {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .intro-text-content h2 {
        font-size: 2rem;
    }

    .intro-text-content p {
        font-size: 1rem;
    }
}