.main-bg {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231c0000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23370000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23530000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%236e0000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%238A0000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    /*SOBRE AVISO*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-bg-3x3 {
    background-color: #000000;
    background-image: url("../img/back-3x3-test.svg");
    background-attachment: fixed;
    /*SOBRE AVISO*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    /*SOBRE AVISO*/
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
    /*SOBRE AVISO*/
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu h1 a {
    font-size: 2.3rem;
    color: var(--white-color);
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--red-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after {
    width: 50%;
    left: 25%;
}

.logo {
    width: 8rem;
}

.menu-space {
    height: 12.0172rem;
}

.intro-content {
    padding-top: 10rem;
    top: -12.0172rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.categorias-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.equipes-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
}

.title-main {
    margin-bottom: 1rem;
}

.grid-equipe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.grid-equipe h3 {
    font-size: 2.5rem;
    position: relative;
}

.foto-equipe {
    width: 20rem;
    border-radius: 20%;
}

.grid-apoiadores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.grid-apoiadores h3 {
    font-size: 2.5rem;
    position: relative;
}


.sobre-content, .apoiadores-content{
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-description {
    padding-bottom: 8rem;
}

.grid-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    font-size: 1.8rem;
}

.categoria-img {
    width: 100%;
    max-width: 48rem;
    max-height: 48rem;
    overflow: hidden;
}

.categoria-img img {
    transition: all 300ms ease-in-out;
}

.categoria-img img:hover {
    transform: scale(1.1);
}

.contato-form {
    grid-column: span 2;
}

.contato-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 1.0rem 0.2rem var(--white-color);
    transition: 250ms;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--white-color);
    background: var(--white-color);
    color: var(--red-color);
}

.form-group ::placeholder {
    color: var(--primary-color);
    opacity: 25%;
}

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.intro-img2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.intro-img2 img {
    max-width: 50%;
    height: auto;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer p {
    margin: 0;
}

.direitos-content {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.4rem;
}

.developer {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.developer a{
    transition: all 300ms ease-in-out;
    color: var(--red-color);
    text-decoration: none;
}

.developer a:hover {
    text-decoration: underline;
}

.close-menu {
    display: none;
}

.back-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--red-color);
    font-size: 3rem;
    border: 0.1rem solid var(--red-color);
}

.borda-redonda {
    width: 17.5rem;
    border-radius: 40%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    margin-bottom: 1.5rem;
}

.borda-redonda:hover {
    width: 18rem;
}

@media (max-width: 1000px) {
    .grid-equipe, .grid-categorias, .grid-apoiadores {
        grid-template-columns: 1fr;
    }

    .categoria-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .categoria-img img {
        width: 100%;
    }

    .equipes-content {
        display: block;
        height: auto;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--red-color);
        font-size: 4rem;
        line-height: 4rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-space {
        display: none;
    }
}